<header>
  <nav>
    <div class="header-item">
      <ul>
        <li class="maintheme"><%= link_to 'Pottode', "#" %></li>
        <li class="header-item"><%= link_to 'ログイン', "#" %></li>
        <li class="header-item"><%= link_to '新規登録', "#" %></li>
      </ul>
    </div>
  </nav>
</header>
