<!DOCTYPE html>
<html lang="en">
  <body>
    <div class="body-item">
      <h1>Pottode</h1>
      <h2>達成感が出るアプリ</h2>
    </div>
  </body>
</html>
<%= content_tag :div,
                id: "resources-container",
                data: {
                    q: params,
                    resources_path: tasks_path,
                }.to_json do %>
<% end %>

<% content_for :javascript do %>
  <%= javascript_tag 'App' %>
<% end %>