<header class="bg-dark py-5">
  <div class="container px-4 px-lg-5 my-5">
    <div class="text-center text-white">
      <h1 class="display-4 fw-bolder">ユーザー一覧</h1>
      <p class="lead fw-normal text-white-50 mb-0">User Register</p>
    </div>
  </div>
</header>
<% if logged_in? && current_user.admin? %>
  <% @users.each do | user | %>
    <p class="fw-bolder"><%= user.id %></p>
    <h5 class="fw-bolder"><%= link_to user.name, "/admin/users/#{user.id}" %></h5>
    <p>メールアドレス:<%= user.email %></p>
    <p>管理者権限:<%= user.admin? ? 'あり' : 'なし' %></p>
    <p>==========</p>
  <% end %>
<% else %>
  <h5>管理者権限がありません</h5>
<% end %>
